In [3]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [4]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1239,tt3063516,15000000,151831537,Jackass Presents: Bad Grandpa,Johnny Knoxville|Jackson Nicoll|Georgina Cates...,Jeff Tremaine,Real people. Real reactions. Real messed up.,86-year-old Irving Zisman is on a journey acro...,92,Comedy,Paramount Pictures|MTV Films|Dickhouse Product...,10/22/2013,6.1,2013
1675,tt0465234,130000000,457363168,National Treasure: Book of Secrets,Nicolas Cage|Jon Voight|Harvey Keitel|Ed Harri...,Jon Turteltaub,The Greatest Adventure History Has Ever Revealed,Benjamin Franklin Gates and Dr. Abigail Chase ...,124,Action|Adventure|Mystery|Thriller,Jerry Bruckheimer Films|Saturn Films|Walt Disn...,12/13/2007,6.0,2007
776,tt1583420,30000000,36160375,Larry Crowne,Tom Hanks|Julia Roberts|Bryan Cranston|Cedric ...,Tom Hanks,Rediscover life and love,"After losing his job, a middle-aged man reinve...",98,Comedy|Romance|Drama,Universal Pictures|Playtone Productions|Vendom...,6/30/2011,5.6,2011
1500,tt0422295,16800000,2281089,Fur: An Imaginary Portrait of Diane Arbus,Nicole Kidman|Robert Downey Jr.|Ty Burrell|Har...,Steven Shainberg,A love story.,In 1958 New York Diane Arbus is a housewife an...,122,Drama|Mystery|Romance,River Road Entertainment|Edward R. Pressman Fi...,8/30/2006,6.3,2006
75,tt4178092,5000000,58978653,The Gift,Jason Bateman|Rebecca Hall|Joel Edgerton|David...,Joel Edgerton,Not every gift is welcome.,A husband and wife try to reinvigorate their r...,108,Thriller|Mystery,Blumhouse Productions|Blue-Tongue Films|STX En...,7/30/2015,6.6,2015

In [5]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [6]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...
#
# Вопрос 6 
# Расчитываем прибыль/убытки (если число будет отрицательным) и добавояем столбец profit в data
for i in data:
    data['profit'] = data['revenue'] - data['budget']
    
# Вопрос  9
# выбираем фильмы 2008 года с максимальным кассовым сбором в переменную
max_revenue = data[(data.release_year == 2008)].revenue.max()

# Вопрос 11
# Изменяем разделитель '|' и сoздаём массив, чтобы каждый жанр был в отдельной строке; формируем data frame
# Вариант 1
genres = data.genres.str.split('|')
genres = genres.sum()
genres = pd.DataFrame(genres)

# Вариант 2
# Изменяем разделитель
def genres_without_slash(genres):
    g_without = genres.str.split('|')
    return g_without

g_without = genres_without_slash(data.genres)
# складываем все значения, чтобы каждый жанр был в отдельной строке
g_without = g_without.sum()

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [7]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
# answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides (tt1298650)'
# если ответили верно, можете добавить комментарий со значком "+"

In [8]:
# тут пишем ваш код для решения данного вопроса:
data[data.budget == data.budget.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,5/11/2011,6.3,2011,641683000

ВАРИАНТ 2

In [30]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [9]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = 'Gods and Generals tt0279111'

In [10]:
data[data.runtime == data.runtime.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1157,tt0279111,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2/21/2003,5.8,2003,-43076064

# 3. Какой из фильмов самый короткий (в минутах)?

In [11]:
data[data.runtime == data.runtime.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
768,tt1449283,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,4/13/2011,6.8,2011,-15540000

In [12]:
answers['3'] = 'Winnie the Pooh (tt1449283)'

# 4. Какова средняя длительность фильмов?

In [13]:
round(data.runtime.mean(),0)

110.0

In [14]:
answers['4'] = '110'

# 5. Каково медианное значение длительности фильмов?

In [15]:
data.runtime.median()

107.0

In [16]:
answers['5'] = '107'

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [17]:
# лучше код получения столбца profit вынести в Предобработку что в начале

data[data.profit == data.profit.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
239,tt0499549,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,12/10/2009,7.1,2009,2544505847

In [19]:
answers['6'] = 'Avatar (tt0499549)'

# 7. Какой фильм самый убыточный?

In [20]:
data[data.profit == data.profit.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090

In [22]:
answers['7'] = 'The Lone Ranger (tt1210819)'

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [23]:
data[data.profit > 0].profit.count()

1478

In [24]:
np.where(data.profit >= 0)[0].size

1478

In [25]:
answers['8'] = '1478'

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [26]:
data[(data.revenue == max_revenue) & (data.release_year == 2008)].original_title.unique()

array(['The Dark Knight'], dtype=object)

In [73]:
data[(data.release_year == 2008)].sort_values('revenue', ascending = False)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8.1,2008,816921825
603,tt0367882,185000000,786636033,Indiana Jones and the Kingdom of the Crystal S...,Harrison Ford|Cate Blanchett|Shia LaBeouf|Ray ...,Steven Spielberg,The adventure continues . . .,"Set during the Cold War, the Soviets â€“ led b...",122,Adventure|Action,Lucasfilm|Paramount Pictures,5/21/2008,5.6,2008,601636033
606,tt0441773,130000000,631744560,Kung Fu Panda,Jack Black|Dustin Hoffman|Angelina Jolie|Jacki...,Mark Osborne|John Stevenson,Prepare for awesomeness.,"When the Valley of Peace is threatened, lazy P...",90,Animation|Family,DreamWorks Animation,6/4/2008,6.8,2008,501744560
621,tt0448157,150000000,624029371,Hancock,Will Smith|Charlize Theron|Jason Bateman|Jae H...,Peter Berg,Bad Behavior. Bad Attitude. Real Hero.,Hancock is a down-and-out superhero who's forc...,92,Fantasy|Action,Columbia Pictures|Weed Road Pictures|Forward P...,7/1/2008,6.0,2008,474029371
607,tt0795421,52000000,609841637,Mamma Mia!,Meryl Streep|Pierce Brosnan|Amanda Seyfried|Co...,Phyllida Lloyd,Take a trip down the aisle you'll never forget,"Set on an idyllic Greek island, the plot serve...",108,Comedy|Romance,Universal Pictures|Internationale Filmprodukti...,6/30/2008,6.2,2008,557841637
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
708,tt0486674,25000000,6673422,What Just Happened,Bruce Willis|Robert De Niro|Sean Penn|Robin Wr...,Barry Levinson,Admit nothing.,During the course of an ordinary week in Holly...,104,Comedy|Drama,2929 Productions|Linson Entertainment|Art Lins...,10/17/2008,5.1,2008,-18326578
673,tt0800241,15000000,5926410,Transsiberian,Woody Harrelson|Emily Mortimer|Kate Mara|Eduar...,Brad Anderson,You can't escape your lies.,A Trans-Siberian train journey from China to M...,111,Thriller|Crime|Mystery,Lietuvos Kinostudija|Scout Productions|Telecin...,1/18/2008,6.3,2008,-9073590
702,tt0844286,20000000,5530764,The Brothers Bloom,Rachel Weisz|Adrien Brody|Mark Ruffalo|Rinko K...,Rian Johnson,They'd never let the truth come between them.,The Brothers Bloom are the best con men in the...,114,Adventure|Comedy|Drama|Romance,The Weinstein Company|Summit Entertainment|End...,9/9/2008,6.8,2008,-14469236
711,tt0805570,15000000,3533227,The Midnight Meat Train,Bradley Cooper|Vinnie Jones|Brooke Shields|Les...,RyÃ»hei Kitamura,The most terrifying ride you'll ever take,The photographer Leon lives with his girlfrien...,98,Mystery|Drama|Crime|Thriller|Horror,Lions Gate Films|Lakeshore Entertainment|Green...,8/7/2008,5.7,2008,-11466773
712,tt0490181,8000000,2033165,Mutant Chronicles,Ron Perlman|Thomas Jane|Devon Aoki|Sean Pertwe...,Simon Hunter,Welcome to the 23rd century. The new dark ages.,It's the year 2707. Earth's natural resources ...,111,Action|Adventure|Horror|Science Fiction,Isle of Man Film|Edward R. Pressman Film|Parad...,8/7/2008,5.1,2008,-5966835

In [28]:
answers['9'] = 'The Dark Knight (tt0468569)'

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [29]:
data[data.release_year.isin([2012, 2013, 2014])].sort_values('profit', ascending = True)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090
1214,tt0790736,130000000,61648500,R.I.P.D.,Jeff Bridges|Ryan Reynolds|Kevin Bacon|Stephan...,Robert Schwentke,To protect and serve the living,A recently slain cop joins a team of undead po...,96,Fantasy|Action|Comedy|Crime,Universal Pictures|Original Film|Dark Horse En...,7/18/2013,5.3,2013,-68351500
1007,tt1374992,60000000,8106475,Upside Down,Kirsten Dunst|Jim Sturgess|Timothy Spall|James...,Juan Diego Solanas,Two worlds. One future.,In an alternate universe where twinned worlds ...,104,Romance|Science Fiction|Drama|Fantasy,Onyx Films|Studio 37|Jouror Productions|France...,9/27/2012,6.1,2012,-51893525
1302,tt0884726,70000000,18662027,Legends of Oz: Dorothy's Return,Lea Michele|Dan Aykroyd|Patrick Stewart|Hugh D...,Dan St. Pierre,There's trouble in OZ...,"Dorothy wakes up in post-tornado Kansas, only ...",88,Animation|Music|Family,Prana Animation Studios|Summertime Entertainment,6/13/2013,6.1,2013,-51337973
1235,tt1308729,55000000,9489829,Bullet to the Head,Sylvester Stallone|Sung Kang|Sarah Shahi|Adewa...,Walter Hill,Revenge Never Gets Old.,"After watching their respective partners die, ...",92,Action|Crime|Thriller,Dark Castle Entertainment|After Dark Films|IM ...,1/31/2013,5.2,2013,-45510171
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1189,tt1690953,76000000,970761885,Despicable Me 2,Steve Carell|Kristen Wiig|Benjamin Bratt|Miran...,Pierre Coffin|Chris Renaud,Back 2 Work,Gru is recruited by the Anti-Villain League to...,98,Animation|Comedy|Family,Universal Pictures|Illumination Entertainment,6/25/2013,7.0,2013,894761885
974,tt1074638,200000000,1108561013,Skyfall,Daniel Craig|Judi Dench|Javier Bardem|Ralph Fi...,Sam Mendes,Think on your sins.,When Bond's latest assignment goes gravely wro...,143,Action|Adventure|Thriller,Columbia Pictures,10/25/2012,6.8,2012,908561013
1180,tt1300854,200000000,1215439994,Iron Man 3,Robert Downey Jr.|Gwyneth Paltrow|Guy Pearce|D...,Shane Black,Unleash the power behind the armor.,When Tony Stark's world is torn apart by a for...,130,Action|Adventure|Science Fiction,Marvel Studios,4/18/2013,6.9,2013,1015439994
1177,tt2294629,150000000,1274219009,Frozen,Kristen Bell|Idina Menzel|Jonathan Groff|Josh ...,Chris Buck|Jennifer Lee,Only the act of true love will thaw a frozen h...,Young princess Anna of Arendelle dreams about ...,102,Animation|Adventure|Family,Walt Disney Pictures|Walt Disney Animation Stu...,11/27/2013,7.5,2013,1124219009
970,tt0848228,220000000,1519557910,The Avengers,Robert Downey Jr.|Chris Evans|Mark Ruffalo|Chr...,Joss Whedon,Some assembly required.,When an unexpected enemy emerges and threatens...,143,Science Fiction|Action|Adventure,Marvel Studios,4/25/2012,7.3,2012,1299557910

In [30]:
answers['10'] = 'The Lone Ranger (tt1210819)'

# 11. Какого жанра фильмов больше всего?

In [31]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале

genres.value_counts()

Drama              782
Comedy             683
Thriller           596
Action             582
Adventure          415
Crime              315
Romance            308
Family             260
Science Fiction    248
Fantasy            222
Horror             176
Mystery            168
Animation          139
Music               64
History             62
War                 58
Western             19
Documentary          8
Foreign              2
dtype: int64

ВАРИАНТ 2

In [32]:
Counter(g_without)

Counter({'Action': 582,
         'Adventure': 415,
         'Science Fiction': 248,
         'Thriller': 596,
         'Fantasy': 222,
         'Crime': 315,
         'Western': 19,
         'Drama': 782,
         'Family': 260,
         'Animation': 139,
         'Comedy': 683,
         'Mystery': 168,
         'Romance': 308,
         'War': 58,
         'History': 62,
         'Music': 64,
         'Horror': 176,
         'Documentary': 8,
         'Foreign': 2})

In [33]:
answers['11'] = 'Drama'

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [34]:
prof = data[data.profit > 0]
prof = prof.genres.str.split('|')
prof = prof.sum()
prof = pd.DataFrame(prof)
prof.value_counts()

Drama              560
Comedy             551
Thriller           446
Action             444
Adventure          337
Romance            242
Crime              231
Family             226
Science Fiction    195
Fantasy            188
Horror             150
Animation          120
Mystery            119
Music               47
History             46
War                 41
Western             12
Documentary          7
dtype: int64

In [35]:
answers['12'] = 'Drama'

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [36]:
data.groupby('director')['revenue'].agg(['sum']).sort_values('sum', ascending = False)

                          sum
director
Peter Jackson      6490593685
Christopher Nolan  4167548502
David Yates        4154295625
Michael Bay        3886938960
J.J. Abrams        3579169916
...                       ...
David MichÃ´d         2295423
Steven Shainberg      2281089
Paul Schrader         2062066
Keanu Reeves          2054941
Simon Hunter          2033165

[957 rows x 1 columns]

In [37]:
answers['13'] = 'Peter Jackson'

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [38]:
ex = data.copy()
ex.director = ex.director.str.split('|')
ex.genres = ex.genres.str.split('|')
ex = ex.explode('director')
ex = ex.explode('genres')
act = ex[ex.genres.str.contains('Action', na=False)]
act.director.value_counts()

Robert Rodriguez      9
Paul W.S. Anderson    7
Michael Bay           7
Ridley Scott          6
Antoine Fuqua         6
                     ..
Keanu Reeves          1
Christian Alvart      1
Jim Gillespie         1
Danny Pang            1
John Bonito           1
Name: director, Length: 364, dtype: int64

In [39]:
answers['14'] = 'Robert Rodriguez'

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [40]:
ex.cast = ex.cast.str.split('|')
ex = ex.explode('cast')
ex[ex.release_year.isin([2012])].sort_values('revenue', ascending = False)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
970,tt0848228,220000000,1519557910,The Avengers,Robert Downey Jr.,Joss Whedon,Some assembly required.,When an unexpected enemy emerges and threatens...,143,Science Fiction,Marvel Studios,4/25/2012,7.3,2012,1299557910
970,tt0848228,220000000,1519557910,The Avengers,Chris Hemsworth,Joss Whedon,Some assembly required.,When an unexpected enemy emerges and threatens...,143,Action,Marvel Studios,4/25/2012,7.3,2012,1299557910
970,tt0848228,220000000,1519557910,The Avengers,Chris Evans,Joss Whedon,Some assembly required.,When an unexpected enemy emerges and threatens...,143,Science Fiction,Marvel Studios,4/25/2012,7.3,2012,1299557910
970,tt0848228,220000000,1519557910,The Avengers,Scarlett Johansson,Joss Whedon,Some assembly required.,When an unexpected enemy emerges and threatens...,143,Adventure,Marvel Studios,4/25/2012,7.3,2012,1299557910
970,tt0848228,220000000,1519557910,The Avengers,Chris Hemsworth,Joss Whedon,Some assembly required.,When an unexpected enemy emerges and threatens...,143,Adventure,Marvel Studios,4/25/2012,7.3,2012,1299557910
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1033,tt1656186,35000000,2106557,Stolen,Josh Lucas,Simon West,Never steal from the world's greatest thief.,A former thief frantically searches for his mi...,96,Drama,Saturn Films|Nu Image Films|Millennium Films,5/17/2012,5.1,2012,-32893443
1033,tt1656186,35000000,2106557,Stolen,Sami Gayle,Simon West,Never steal from the world's greatest thief.,A former thief frantically searches for his mi...,96,Thriller,Saturn Films|Nu Image Films|Millennium Films,5/17/2012,5.1,2012,-32893443
1033,tt1656186,35000000,2106557,Stolen,Danny Huston,Simon West,Never steal from the world's greatest thief.,A former thief frantically searches for his mi...,96,Thriller,Saturn Films|Nu Image Films|Millennium Films,5/17/2012,5.1,2012,-32893443
1033,tt1656186,35000000,2106557,Stolen,Nicolas Cage,Simon West,Never steal from the world's greatest thief.,A former thief frantically searches for his mi...,96,Drama,Saturn Films|Nu Image Films|Millennium Films,5/17/2012,5.1,2012,-32893443
1033,tt1656186,35000000,2106557,Stolen,Danny Huston,Simon West,Never steal from the world's greatest thief.,A former thief frantically searches for his mi...,96,Crime,Saturn Films|Nu Image Films|Millennium Films,5/17/2012,5.1,2012,-32893443

In [41]:
answers['15'] = 'Chris Hemsworth'

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [42]:
hi_budget = data.copy()
hi_budget.cast = hi_budget.cast.str.split('|')
hi_budget = hi_budget.explode('cast')
hi_budget = hi_budget[hi_budget.budget > hi_budget.budget.mean()]
hi_budget.cast.value_counts()

Matt Damon           18
Adam Sandler         17
Angelina Jolie       16
Samuel L. Jackson    15
Tom Cruise           15
                     ..
Alice Evans           1
Anthony Edwards       1
Don Knotts            1
Peter Fonda           1
Zaid Farid            1
Name: cast, Length: 1505, dtype: int64

In [43]:
answers['16'] = 'Matt Damon'

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [44]:
ex[ex.cast.isin(['Nicolas Cage'])].value_counts('genres', ascending = False)

genres
Action             19
Thriller           17
Drama              12
Crime              11
Fantasy            10
Adventure           8
Comedy              7
Science Fiction     4
Family              4
Animation           4
Mystery             3
History             2
War                 1
Romance             1
Horror              1
dtype: int64

In [45]:
answers['17'] = 'Action'

# 18. Самый убыточный фильм от Paramount Pictures

In [46]:
studio = data.copy()
studio.production_companies = studio.production_companies.str.split('|')
studio = studio.explode('production_companies')
min_profit = studio[studio.production_companies == 'Paramount Pictures'].profit.min()
studio[(studio.profit == min_profit) & (studio.production_companies == 'Paramount Pictures')].original_title.unique()

array(['K-19: The Widowmaker'], dtype=object)

In [47]:
answers['18'] = 'K-19: The Widowmaker'

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [48]:
data.groupby('release_year')['revenue'].agg(['sum']).sort_values('sum', ascending = False)

                      sum
release_year
2015          25449202382
2014          23405862953
2013          23213799791
2012          23079001687
2011          22676791872
2010          21071204961
2009          20261791024
2008          18252781990
2007          18162406801
2004          15663430720
2005          15309425558
2006          14775042320
2003          14346123312
2002          14136361487
2001          13017764865
2000          10664099805

In [49]:
answers['19'] = '2015'

# 20. Какой самый прибыльный год для студии Warner Bros?

In [50]:
display(data[data.production_companies.str.contains("Warner Bros", na=False)].groupby(
    data['release_year'])['profit'].sum().sort_values(ascending=False))

release_year
2014    2295464519
2007    2201675217
2008    2134595031
2010    1974712985
2011    1871393682
2003    1855493377
2009    1822454136
2013    1636453400
2004    1631933725
2005    1551980298
2001    1343545668
2012    1258020056
2002    1022709901
2015     870368348
2006     620170743
2000     452631386
Name: profit, dtype: int64

In [51]:
answers['20'] = '2014'

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [53]:
new_release_date = pd.to_datetime(data.release_date)
new_release_date = new_release_date.dt.month
new_release_date.value_counts()

9     227
12    190
10    186
8     161
3     156
4     149
6     147
11    146
7     142
5     140
2     135
1     110
Name: release_date, dtype: int64

In [54]:
answers['21'] = 'Сентябрь'

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [56]:
new_release_date[new_release_date.isin(['6', '7', '8'])].value_counts().sum()

450

In [57]:
answers['22'] = '450'

# 23. Для какого режиссера зима – самое продуктивное время года?

In [62]:
director_only = data.copy()
director_only.director = director_only.director.str.split('|')
director_only = director_only.explode('director')
director_only['month_release'] = new_release_date
winter_director = director_only[director_only.month_release.isin(['1', '2', '12'])]
winter_director.director.value_counts().sort_values(ascending=False)

Peter Jackson        7
Steven Soderbergh    6
Clint Eastwood       6
Adam Shankman        4
Nancy Meyers         4
                    ..
David Dobkin         1
Andy Muschietti      1
Frank Marshall       1
Jeff Schaffer        1
Greg Mottola         1
Name: director, Length: 358, dtype: int64

In [63]:
answers['23'] = 'Peter Jackson'

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [64]:
prod_companies = data.copy()
prod_companies['size_titles'] = prod_companies['original_title'].map(lambda x: len(x))
prod_companies.production_companies = prod_companies['production_companies'].str.split('|')
prod_companies = prod_companies.explode('production_companies')
prod_companies.groupby('production_companies')['size_titles'].agg(['mean']).sort_values('mean', ascending = False)

                            mean
production_companies
Four By Two Productions     83.0
Jim Henson Company, The     59.0
Dos Corazones               47.0
Polsky Films                46.0
Museum Canada Productions   46.0
...                          ...
Everest Entertainment        3.0
Berlanti Productions         3.0
Global Entertainment Group   2.0
XM2 Productions              2.0
Ixtlan Productions           2.0

[1771 rows x 1 columns]

In [65]:
answers['24'] = 'Four By Two Productions'

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [66]:
prod_companies['size_overview'] = prod_companies['overview'].map(lambda x: len(x))
prod_companies.groupby('production_companies')['size_overview'].agg(['mean']).sort_values('mean', ascending = False)

                                         mean
production_companies
Midnight Picture Show                  1000.0
Room 9 Entertainment                    964.0
Brookwell-McNamara Entertainment        936.0
Lions Gate Family Entertainment         909.0
Crest Animation Productions             909.0
...                                       ...
London Boulevard                         74.0
Henceforth                               74.0
Phantom Four                             72.0
Empire Pictures                          62.0
Motion Picture Corporation of America    59.0

[1771 rows x 1 columns]

In [67]:
answers['25'] = 'Midnight Picture Show'

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [70]:
border = np.quantile(data.vote_average, 0.99)
dd=data[data.vote_average >= border].sort_values(by='vote_average', ascending=False)['original_title']
dd=pd.DataFrame(dd)
dd
ans1 = dd.query('original_title in ["Inside Out",  "12 Years a Slave", "The Dark Knight"]') 
ans2 = dd.query('original_title in ["BloodRayne", "The Adventures of Rocky & Bullwinkle"]')
ans3 = dd.query('original_title in ["Batman Begins", "The Lord of the Rings: The Return of the King", "Upside Down"]')
ans4 = dd.query('original_title in ["300", "Lucky Number Slevin", "Kill Bill: Vol. 1"]')
ans5 = dd.query('original_title in ["Upside Down", "Inside Out", "Iron Man"]')
print(ans1, ans2, ans3, ans4, ans5)

        original_title
599    The Dark Knight
9           Inside Out
1191  12 Years a Slave Empty DataFrame
Columns: [original_title]
Index: []                                      original_title
1081  The Lord of the Rings: The Return of the King Empty DataFrame
Columns: [original_title]
Index: []   original_title
9     Inside Out

In [74]:
answers['26'] = 'The Dark Knight, Inside Out, 12 Years a Slave'

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [69]:
from itertools import combinations
from itertools import chain 
cast_combinations = data.copy()
cast_combinations['cast_split'] = cast_combinations['cast'].str.split('|')
cast_combinations['cast_togever']=cast_combinations.cast_split.apply(lambda x: list(combinations(x, 2)))
list1 = cast_combinations.cast_togever.tolist()
list2 = chain(*list1)

Counter(list2).most_common(10)

[(('Daniel Radcliffe', 'Rupert Grint'), 8),
 (('Daniel Radcliffe', 'Emma Watson'), 8),
 (('Rupert Grint', 'Emma Watson'), 7),
 (('Ben Stiller', 'Owen Wilson'), 6),
 (('Johnny Depp', 'Helena Bonham Carter'), 6),
 (('Adam Sandler', 'Kevin James'), 5),
 (('Hugh Jackman', 'Ian McKellen'), 5),
 (('Kristen Stewart', 'Robert Pattinson'), 5),
 (('Kristen Stewart', 'Taylor Lautner'), 5),
 (('Robert Pattinson', 'Taylor Lautner'), 5)]

In [75]:
answers['27'] = 'Daniel Radcliffe, Rupert Grint'

ВАРИАНТ 2

# Submission

In [76]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': 'Gods and Generals tt0279111',
 '3': 'Winnie the Pooh (tt1449283)',
 '4': '110',
 '5': '107',
 '6': 'Avatar (tt0499549)',
 '7': 'The Lone Ranger (tt1210819)',
 '8': '1478',
 '9': 'The Dark Knight (tt0468569)',
 '10': 'The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker',
 '19': '2015',
 '20': '2014',
 '21': 'Сентябрь',
 '22': '450',
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': 'The Dark Knight, Inside Out, 12 Years a Slave',
 '27': 'Daniel Radcliffe, Rupert Grint'}

In [77]:
# и убедиться что ни чего не пропустил)
len(answers)

27